# Ignore Eclipse IDE files #
application/.settings/*
tests/robotest/.settings/*

# Ignore bin #
application/bin/*
tests/robotest/bin/*

# Ignore build files #
application/classes/production/*
build/*

# Ignore mockups export
mockups/export/*

